<h1>Edit Form</h1>

<form action="/videos/<%= @video.id%>" method="POST">
	
	<label for="title">Title: </label>
	<input type="text" name="title" value="<%= @video.title %>">

	<label for="description"><br><br></label>
	<textarea name="description" placeholder="Description"><%= @video.description %></textarea>

	<label for="url"><br><br></label>
	<textarea name="url" placeholder="Enter Embed URL"><%= @video.url %></textarea>

	<label for="genre"><br><br></label>
	<textarea name="genre" placeholder="Genre"><%= @video.genre %></textarea>

	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value="Update">

</form>