<h1><%= @page_header %></h1>

<% @videos.each do |video| %>

	<h2>Video: <%= video.title %></h2>
	<p><%= description.body %></p>
	<p><%= genre.body %></p>
	<a href="posts/<%= video.id %>">View</a>
	<a href="posts/<%= video.id %>/edit">Edit</a>

<% end %>