<h1><%= @page_header %></h1>


<h2><%= @video.title %></h2>
<p><iframe src="<%=@video.url %>"></iframe></p>
<p><%= @video.description %></p>
<p>Genre: <%= @video.genre %></p>
<a href="/videos"><button>HOME PAGE</button></a>